# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# darts
src/scripts/darts_logs
darts_logs

# environment
.env

# data
data/amf-performance.csv

src/prefect-cli/requirements-old.txt
src/prefect-worker/requirements-old.txt
